*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-color: black;
    color: white;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.user-icon{
    margin-right: 2rem;
}
.logo{
    margin-left: 2rem;
}

img{
    width: 50px;
    cursor: pointer;
}

 .search-bar{
    text-align: center;
    margin: 1px auto;
    padding: 1rem;
 }
input{
    width: 16rem;
    height: 2rem;
    outline: none;
    font-weight: inherit;
    padding-left: 10px;
}