.button{
    padding: 1rem 2rem;
    font-size: inherit;
    font-weight: bold;
    background-color:  #db7c38;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.button:hover{
    padding: 1rem 2rem;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    color:  #db7c38;
    border: 1px solid #db7c38;
}