*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: black;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.logo{
    margin-left: 2rem;
}
.contents{
    display: flex;
    list-style: none;
}

.list-item{
    margin-right: 1.5rem;
    font-weight: bold;
    cursor: pointer
}